@tailwind base;
@tailwind components;
@tailwind utilities;


.floating-image {
    /* display: inline-block; */
    animation: float 5s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0); /* Initial position */
    }
    50% {
      transform: translateY(-0.2in); /* Moves up by 1 inch */
    }
  }
  .circle-container {
    position: relative;
    width: 200px; /* Diameter of the circular path */
    height: 200px;
    border-radius: 50%; /* Makes the container a perfect circle */
  }
  
  .circle-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px; /* Adjust to your image size */
    height: 150px;
    border-radius: 50%; /* Optional: Makes the image itself circular */
    animation: run-circle 15s linear infinite;
  }
  
  @keyframes run-circle {
    0% {
      transform: translate(-50%, 0) rotate(0deg);
    }
    25% {
      transform: translate(-50%, 0) rotate(90deg);
    }
    50% {
      transform: translate(-50%, 0) rotate(180deg);
    }
    75% {
      transform: translate(-50%, 0) rotate(270deg);
    }
    100% {
      transform: translate(-50%, 0) rotate(360deg);
    }
  }
  

  .floating-left-right-image {
    /* display: inline-block; */
    animation: float-right-left 5s ease-in-out infinite;
  }
  
  @keyframes float-right-left {
    0%, 100% {
      transform: translateX(0); /* Initial position */
    }
    50% {
      transform: translateX(0.5in); /* Moves right by 0.5 inches */
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin-image {
  
    animation: spin 15s linear infinite; /* Spin continuously */
  }

  .custom-bg-blue{
    background-color: rgb(73 87 158);
  }
  
 .pollinator {
    font-family: 'Pollinator';
    src: url('/public/font/pollinator.otf') format('truetype');
  
    font-style: normal;
  }

  @layer utilities {
    .shadow-inner-bottom {
      box-shadow: inset 0 -14px 26px rgba(0, 0, 0, 0.1);
    }
  }
  

  